@import '../../index.css';


:root{
    --correct-background: rgb(117, 243, 132);
    --correct-color: rgb(12, 82, 3);
    --wrong-background: rgb(252, 158, 158);
    --wrong-color: rgb(126, 2, 2);
}

.questions-section{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.questions-section > * {
    margin-bottom: 2rem;
}

.questions-heading{
    border-bottom: 5px solid var(--primary-color);
    border-radius: 5px;
}

span{
    cursor: pointer;
  }

input[type="radio"] {
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 1.2rem;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input[type="radio"]:focus { 
    outline: none; 
  }
  
  input[type="radio"]:checked { 
    background-color: var(--primary-color);
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: var(--background-color);
  }
  
  label span:first-of-type {
    position: relative;
    left: -1.25rem;
    font-size: 0.9rem;
    color: var(--primary-color);
  }
  
  label span {
    position: relative;
    top: -0.6rem;
    cursor: pointer;
  }

.question-button{
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.question-button i{
    padding: 0 0.5rem;
    color: var(--background-color);
}

.stacked-list li {
    border-left: 6px solid var(--primary-color);
    padding: 1rem 1rem;
    background-color:rgb(223, 198, 245) ;
    color: var(--primary-color);
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}

/* correct answer */

.stacked-list .correct__answer label > *,
.stacked-list .correct__answer > *{
    color:var(--correct-color);
    background-color:var(--correct-background) ;
}

.stacked-list .correct__answer input[type="radio"] {
    border: 2px solid var(--correct-color);
}

.stacked-list .correct__answer {
    border-left: 6px solid var(--correct-color);
    background-color: var(--correct-background);
}

/* wrong answer */

.stacked-list .wrong__answer label > *,
.stacked-list .wrong__answer > *{
    color:var(--wrong-color);
    background-color:var(--wrong-background) ;
}

.stacked-list .wrong__answer input[type="radio"] {
    border: 2px solid var(--wrong-color);
}

.stacked-list .wrong__answer {
    border-left: 6px solid var(--wrong-color);
    background-color: var(--wrong-background);
}

.display__question h4{
    margin-bottom: 1rem;
}

 .question__button{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.display__timer{
    display: flex;
    justify-content: center;
}

.display__timer i{
    color: var(--primary-color);
}

.question__button-small .question-button{
    border-radius: 50%;
    padding: 0;
    margin: 0;
    height: 3rem;
    width: 3rem;
    text-align: center;
}

.question__button-small {
    display: none;
}


.display__question{
    width: 100%;
}

@media screen and (max-width: 800px) {
    .question__button-small {
        display: block;
    }
    .question__button {
        display: none;
    }
    .questions-section{
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .questions-section{
        width: 85%;
    }
}